@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
}
.calculator-wrapper{
box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
max-width: 50%;
margin:5% auto auto auto;
text-align: center;
}
.buttons-wrapper{
    display: grid; 
grid-template-columns: repeat(4 , 4fr); 
gap: 0px 0px; 
padding:5%;
}
.display{
    background: black;
    padding:5%;
    font-size: 2vmax;
    color: white;
    text-align: end;
}
.button{
    border: black 0.2px solid;
    width:100%;
    font-size: 2vmax;
    height: 100px;
}

.button:nth-child(12){
    grid-row: span 2;
    border: black solid 2px;
    font-size:7.5vmax;
    height: 200px;
}
.button:hover{
    color:white;
    background-color: black;
    transition: 0.2s;
    cursor:pointer;
}